<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Book Annotations{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen bg-slate-100">
    <nav class="bg-sky-800 text-white">
        <div class="px-3 max-w-2xl flex container justify-between">
            <a href="/" class="text-xl text-sky-50 font-bold">Random</a>
            <a href="/books" class="text-sky-50 hover:underline">books</a>
        </div>
    </nav>
    <main class="px-3 container max-w-2xl mt-8">
        {% block content %}{% endblock %}
    </main>
    <script>
        function toggleFavorite(annotationId, button) {
            fetch('/toggle_favorite/' + annotationId, {method: 'POST'})
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        button.classList.toggle('text-yellow-500');
                    }
                });
        }
    </script>
</body>
</html>
