{% extends "base.html" %}

{% block title %}Random Annotations{% endblock %}

{% block content %}
<div class="space-y-12">
    {% for annotation in annotations %}
    <div class="">

        <!-- title -->
        <div class="flex container justify-between items-center">
            <a href="/book/{{ annotation.book_id }}" class="text-xl font-semibold text-sky-600 dark:text-sky-400 hover:underline">{{ annotation.title }}</a>
        </div>

        <div class="">
            {{highlight_component(annotation)}}
        </div>

    </div>

    {% endfor %}
</div>
{% endblock %}