{% extends "base.html" %}

{% block title %}Random Annotations{% endblock %}

{% block content %}
<h1 class="text-sky-900 font-bold mb-6">Random Annotations</h1>
<div class="space-y-12">
    {% for annotation in annotations %}
    <div class="">

        <!-- title -->
        <div class="flex container justify-between items-center">
            <a href="/book/{{ annotation.book_id }}" class="text-xl font-semibold text-sky-600 hover:underline">{{ annotation.title }}</a>
        </div>

        <div class="">
            <!-- annotation text -->
            <p class="text-gray-700">{{ annotation.searchable_text }}</p>


            <!-- timestamp -->
            <span class="mt-1 mr-2 float-left text-slate-400/50 font-thin">{{ annotation.timestamp | float | to_datetime() }}</span>

            <!-- favorite button-->
            <button class="text-xl text-slate-300/50 focus:outline-none {% if annotation.is_favorite %}text-yellow-300/70{% endif %}"
                    onclick="toggleFavorite({{ annotation.id }}, this)">
                &#9733;
            </button>
        </div>

    </div>

    {% endfor %}
</div>
{% endblock %}