{% from 'macros.html' import highlight_component %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Book Annotations{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen dark:bg-slate-900 bg-slate-100">
    <nav class="bg-sky-800 text-white">
        <div class="px-5 max-w-2xl space-x-4 flex container justify-end items-center">
            <a href="/" class="text-sky-50">random</a>
            <a href="/books" class="text-sky-50 hover:underline">books</a>
            <a href="/favorites" class="text-sky-50 hover:underline">favorites</a>
            <a href="{{ url_for('focused_view') }}" class="text-sky-50 hover:underline">
                focused</a>
        </div>
    </nav>
    <main class="px-5 container max-w-2xl mt-8">
        {% block content %}{% endblock %}
        <a href="/">
            <img class="mb-8 my-8 max-w-[200px] mx-auto"
                 src="{{ url_for('static', filename='images/doggo.webp') }}"
                 alt="Illustration of dog fetching stack of papers">
        </a>
    </main>
    <script>
        function toggleFavorite(annotationId, button) {
            const isFavorited = button.classList.contains('dark:fill-sky-500') || button.classList.contains('fill-sky-500');
            const action = isFavorited ? 'remove from' : 'add to';
            const confirmMessage = `Are you sure you want to ${action} favorites?`;
            
            if (confirm(confirmMessage)) {
                fetch('/toggle_favorite/' + annotationId, {method: 'POST'})
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            // TODO: clean this up
                            // Classes active when item is favorited:
                            button.classList.toggle('dark:fill-sky-900');
                            button.classList.toggle('dark:text-sky-900');
                            button.classList.toggle('fill-slate-400/30')
                            button.classList.toggle('text-slate-400/70')
                            // Classes active when not favorited:
                            button.classList.toggle('dark:text-sky-900');
                            button.classList.toggle('text-slate-400/70')
                        }
                    });
            }
        }
    </script>
</body>
</html>