{% from 'macros.html' import highlight_component %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Book Annotations{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
</head>
<body class="min-h-screen dark:bg-slate-900 bg-slate-100">
    <nav class="sticky top-0 dark:bg-sky-950 bg-sky-800 dark:text-sky-200 text-sky-50">
        <div class="px-5 max-w-2xl space-x-4 flex container justify-center sm:justify-end items-center">
            <a href="/" class="hover:underline">random</a>
            <a href="/books" class="hover:underline">books</a>
            <a href="/favorites" class="hover:underline">favorites</a>
            <a href="/highlights_with_notes" class="hover:underline">notes</a>

            <a href="{{ url_for('focused_view') }}" class="hover:underline">
                focused</a>
        </div>
    </nav>
    <main class="px-5 container max-w-2xl mt-8">
        {% block content %}{% endblock %}
        <a href="/">
            <img class="mb-8 my-8 max-w-[200px] mx-auto"
                 src="{{ url_for('static', filename='images/doggo.webp') }}"
                 alt="Illustration of dog fetching stack of papers">
        </a>
    </main>
    <script>
        function toggleFavorite(button) {
            const annotationId = button.dataset.annotationId;
            const isFavorite = button.dataset.isFavorite === 'true';
            const action = isFavorite ? 'remove from' : 'add to';
            const confirmMessage = `Are you sure you want to ${action} favorites?`;
            
            if (confirm(confirmMessage)) {
                fetch('/toggle_favorite/' + annotationId, {method: 'POST'})
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            button.dataset.isFavorite = (!isFavorite).toString();
                        }
                    });
            }
        }

        document.addEventListener('click', function(event) {
            if (event.target.closest('.favorite-btn')) {
                toggleFavorite(event.target.closest('.favorite-btn'));
            }
        });

        function toggleChapterName(element) {
            const chapterNameElement = element.previousElementSibling;
            if (chapterNameElement && chapterNameElement.hasAttribute('data-chapter-name')) {
                if (chapterNameElement.classList.contains('hidden')) {
                    chapterNameElement.classList.remove('hidden');
                    chapterNameElement.classList.add('block');
                } else {
                    chapterNameElement.classList.remove('block');
                    chapterNameElement.classList.add('hidden');
                }
            }
        }
    </script>
</body>
</html>
