{% from 'macros.html' import highlight_component, filter_buttons %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Book Capsule{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
</head>
<body class="min-h-screen dark:bg-slate-900 bg-slate-100">
    <nav class="sticky top-0 text-sky-50 bg-sky-800 dark:bg-sky-950 dark:text-sky-200">
        <div class="flex flex-wrap justify-between items-center px-5 space-x-4 max-w-2xl">
            <div class="flex justify-center items-center space-x-4 sm:justify-end">
                <a href="{{ url_for('index') }}" class="hover:underline">random</a>
                <a href="{{ url_for('books_list') }}" class="hover:underline">books</a>
                <a href="{{ url_for('favorites') }}" class="hover:underline">favorites</a>
                <a href="{{ url_for('highlights_with_notes') }}" class="hover:underline">notes</a>
                <a href="{{ url_for('focused_view') }}" class="hover:underline">focused</a>
            </div>

            
        </div>
    </nav>

    <main class="container px-3 mt-8 max-w-2xl">

        <!-- Main content -->
        {% block content %}
        {% endblock %}

        <!-- Mascot -->
        <a href="{{request.url}}">
            <img
                class="mb-8 my-8 max-w-[200px] mx-auto"
                src="{{ url_for('static', filename='images/doggo.webp') }}"
                alt="Illustration of dog fetching stack of papers"
            />
        </a>

        <!-- Navigation HUD — max-w-2xl is 42rem, so I'm placing this slightly wider on desktop view -->
        <div class="flex fixed right-0 bottom-0 left-0 justify-end px-5 pb-5 max-w-[46rem]">
            <div class="flex flex-col space-y-2">
                {% if request.path not in [url_for('focused_view'), url_for('books_list'), url_for('favorites')] %}
                    {% include "components/filter_dropdown.html" %}
                {% endif %}
                <button id="prevHighlight" class="font-bold text-white bg-sky-700 rounded size-12 hover:bg-sky-800">↑</button>
                <button id="nextHighlight" class="font-bold text-white bg-sky-700 rounded size-12 hover:bg-sky-800">↓</button>
            </div>
        </div>
        
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
