{% extends "base.html" %}

{% block title %}{{ book_data.title }} - Annotations{% endblock %}

{% block content %}
<div class="flex space-x-2 items-baseline">
<h1 class="text-3xl text-sky-900 dark:text-sky-400 font-bold mb-6">
    {{ book_data.title }}</h1>
<a href="{{ url_for('focused_view', book_id=book_data.id) }}"
   class="text-xl text-slate-500 hover:underline">focus</a>
</div>
<div class="space-y-6">
    {% for annotation in book_data.annotations %}
    <div class="">
        {{highlight_component(annotation)}}
    </div>
    {% endfor %}
</div>
{% endblock %}
