{% extends "base.html" %}

{% block title %}Focused View{% endblock %}

{% block content %}

<div class="mb-5 flex justify-center sm:justify-end space-x-4 items-center text-sm text-slate-400/70 dark:text-sky-900">
    <a href="{{ url_for('focused_view', book_id=book_id, index=0) }}"
       class="font-bold" id="first-link"><< first</a>
    <a href="{{ url_for('focused_view', book_id=book_id, index=index-1) }}"
       class="font-bold" id="prev-link">< prev</a>
    <span class="">{{ index + 1 }} / {{ total }}</span>
    <a href="{{ url_for('focused_view', book_id=book_id, index=index+1) }}"
       class="font-bold" id="next-link">next ></a>
    <a href="{{ url_for('focused_view', book_id=book_id, index=total-1) }}"
       class="font-bold" id="last-link">last >></a>
</div>


<div class="pb-4">
    {{highlight_component(annotation)}}
</div>

<script>
    document.addEventListener('keydown', function(event) {
        if (event.key === 'ArrowLeft') {
            event.preventDefault();
            document.getElementById('prev-link').click();
        } else if (event.key === 'ArrowRight') {
            event.preventDefault();
            document.getElementById('next-link').click();
        }
    });
</script>
{% endblock %}
