{% extends "base.html" %}

{% block title %}Focused View{% endblock %}

{% block content %}

<div class="pb-4">
    {{highlight_component(annotation)}}
</div>

<div class="fixed right-0 bottom-0 left-0 p-2 text-sm text-sky-50 bg-sky-800 dark:bg-sky-950 dark:text-sky-200">
    <div class="flex justify-between max-w-2xl">
        <a href="{{ url_for('focused_view', book_id=book_id, index=0) }}"
        class="flex justify-center items-center w-20 h-10 font-bold dark:border-sky-600" id="first-link">
            {{ svg_double_chevron_left() }}
        </a>
        <a href="{{ url_for('focused_view', book_id=book_id, index=index-1) }}"
        class="flex justify-center items-center w-20 h-10 font-bold dark:border-sky-600" id="prev-link">
            {{ svg_chevron_left() }}
        </a>
        <div class="flex justify-center items-center w-20 h-10 font-light dark:border-sky-600">
            <span>{{ index + 1 }} / {{ total }}</span>
        </div>
        <a href="{{ url_for('focused_view', book_id=book_id, index=index+1) }}"
        class="flex justify-center items-center w-20 h-10 font-bold dark:border-sky-600" id="next-link">
            {{ svg_chevron_right() }}
        </a>
        <a href="{{ url_for('focused_view', book_id=book_id, index=total-1) }}"
        class="flex justify-center items-center w-20 h-10 font-bold dark:border-sky-600" id="last-link">
            {{ svg_double_chevron_right() }}
        </a>
    </div>
</div>

<script>
    document.addEventListener('keydown', function(event) {
        if (event.key === 'ArrowLeft') {
            event.preventDefault();
            document.getElementById('prev-link').click();
        } else if (event.key === 'ArrowRight') {
            event.preventDefault();
            document.getElementById('next-link').click();
        }
    });
</script>
{% endblock %}

{% macro svg_chevron_left() %}
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
    </svg>
{% endmacro %}

{% macro svg_chevron_right() %}
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
    </svg>
{% endmacro %}

{% macro svg_double_chevron_left() %}
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="m18.75 4.5-7.5 7.5 7.5 7.5m-6-15L5.25 12l7.5 7.5" />
    </svg>
{% endmacro %}

{% macro svg_double_chevron_right() %}
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5" />
    </svg>
{% endmacro %}