{% extends "base.html" %}
{% block title %}Highlights with Notes{% endblock %}
{% block content %}
<div class="space-y-12">
  {% for book_id, book_data in annotations.items() %}
  <div class="book-section">
    <h2 class="mb-4 ml-2 text-2xl font-semibold text-sky-600 dark:text-sky-400">
      <a href="/book/{{ book_id }}" class="hover:underline">
        {{ book_data.book_title }}</a
      >
    </h2>
    <div class="space-y-4">
      {% for annotation in book_data.annotations %}
      <div class="">{{highlight_component(annotation, show_title=False)}}</div>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <p class="text-slate-700">No highlights with notes found.</p>
  {% endfor %}
</div>
{% endblock %}
